.container1 {
    margin-top: 230px;
    text-align: center;
    color: rgb(201, 40, 40);
}


.iten {
    text-align: center;
    color: rgb(201, 40, 40);
}

body {
    background-color: black;
}

#btnCon {
    background-color: rgb(233, 215, 215);
    box-shadow: 3px 3px 3px 0 rgb(233, 215, 215);
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
}

#btnCad {
    background-color: rgb(233, 215, 215);
    box-shadow: 3px 3px 3px 0 rgb(233, 215, 215);
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
}

#btnAlt {
    background-color: rgb(233, 215, 215);
    box-shadow: 3px 3px 3px 0 rgb(233, 215, 215);
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
}

#btnExc {
    background-color: rgb(233, 215, 215);
    box-shadow: 3px 3px 3px 0 rgb(233, 215, 215);
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
}

#btnLmp {
    background-color: rgb(233, 215, 215);
    box-shadow: 3px 3px 3px 0 rgb(233, 215, 215);
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
}

#btnvol {
    background-color: rgb(233, 215, 215);
    box-shadow: 3px 3px 3px 0 rgb(233, 215, 215);
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
}